
:root {
    --bg-main: #5d5d5d;
    --bg-panel: #4a4a4a;
    --bg-dark: #2b2b2b;
    --bg-darker: #181818;

    --border-light: #8f8f8f;
    --border-mid: #5a5a5a;
    --border-dark: #111111;

    --text-main: #d6d6d6;
    --text-dim: #a4a4a4;

    --accent: #ff6a00;
    --accent-dark: #b94700;

    --shadow: rgba(0,0,0,0.5);
}

/* -------------------------
   GLOBAL RESET
------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    background:
        linear-gradient(
            to bottom,
            #727272,
            #5d5d5d
        );

    color: var(--text-main);

    font-family: "VT323", monospace;
    text-transform: uppercase;
    letter-spacing: 1px;

    overflow-x: hidden;
}

/* -------------------------
    CRT / SCREEN
------------------------- */

body::before {
    content: "";

    position: fixed;
    inset: 0;

    pointer-events: none;

    background-image:
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,0.03),
            rgba(255,255,255,0.03) 1px,
            transparent 1px,
            transparent 2px
        );

    opacity: 0.3;
}

/* -------------------------
   MAIN WRAPPER
------------------------- */

.wrapper {
    width: 95%;
    max-width: 1400px;

    margin: 24px auto;

    padding: 12px;

    background: var(--bg-main);

    border-top: 3px solid var(--border-light);
    border-left: 3px solid var(--border-light);

    border-right: 3px solid var(--border-dark);
    border-bottom: 3px solid var(--border-dark);

    box-shadow:
        inset 0 0 0 2px var(--border-mid),
        0 0 25px var(--shadow);
}

/* -------------------------
   TOP BAR
------------------------- */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 14px;

    padding: 8px 12px;

    background: var(--bg-dark);

    border: 2px solid black;

    box-shadow:
        inset 0 0 0 2px #5f5f5f;
}

.topbar-title {
    color: var(--text-main);
    font-size: 24px;
}

.topbar-title a {
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold;  
    display: inline-block;
    
    padding: 4px 10px;

    background: var(--bg-darker);

    border: 2px solid black;
}

.topbar-title a:hover {
    background: var(--accent);
    color: black;

}


.topbar-status {
    color: var(--text-dim);
    font-size: 18px;
}

/* -------------------------
   MAIN GRID
------------------------- */

.main-grid {
    display: block;
}

/* -------------------------
   PANEL SYSTEM
------------------------- */

.panel {
    background: var(--bg-panel);

    padding: 12px;

    position: relative;

    border-top: 2px solid var(--border-light);
    border-left: 2px solid var(--border-light);

    border-right: 2px solid var(--border-dark);
    border-bottom: 2px solid var(--border-dark);

    box-shadow:
        inset 0 0 0 2px #353535;
}

.panel-header {
    display: inline-block;

    margin-bottom: 14px;
    padding: 4px 10px;

    background: var(--bg-dark);

    color: var(--accent);

    border: 2px solid black;

    font-size: 20px;
}

/* -------------------------
   HERO PANEL
------------------------- */

.hero {
    background: var(--accent);

    color: black;

    padding: 24px;

    min-height: 350px;

    border-top: 2px solid #ffb074;
    border-left: 2px solid #ffb074;

    border-right: 2px solid #6b2600;
    border-bottom: 2px solid #6b2600;
}

.hero a {
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold;  

}

.hero a:hover {
    background: var(--accent);
    color: black;

}

.hero h1 {
    font-size: 72px;
    line-height: 0.9;

    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    line-height: 1.4;

    max-width: 600px;
}

.hero-animal_table {
    table-layout: fixed; 
    width: 100%;
    border-collapse: collapse;
}

.hero-animal_table th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #000000
}

.hero-animal_table thead {
    background-color: var(--accent);
    font-weight: bold;
}

.hero-animal_table tr:nth-child(even) {
  background-color: var(--accent-dark); /* Zebra striping */
}

.hero-animal_table tr:hover {
  background-color: #f1f1f1; /* Hover feedback */
}

.form-row input, select{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #000000;
}

.form-row a {
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold;  
    display: inline-block;
    
    padding: 4px 10px;

    background: var(--bg-dark);

    border: 2px solid black;
}
/* -------------------------
   Search Bar
------------------------- */
.search_bar {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 12px 14px;
    border: none;
    outline: 1px solid black;
    border-radius: 9999px;
    max-width: 128px;
    transition: max-width 0.3s ease;
    margin-bottom: 10px;
}

.search_bar:focus-within{
    max-width: 256px;
}
.search_bar input{
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    
}

.tint-container {
  background-color: var(--accent); 
  display: inline-block; 
}

.tint-container img {
  display: block;
  mix-blend-mode: multiply;
}
/* -------------------------
   BUTTONS
------------------------- */

.button {
    display: inline-block;

    padding: 8px 16px;

    background: var(--bg-dark);

    color: var(--accent);

    text-decoration: none;

    border-top: 2px solid var(--border-light);
    border-left: 2px solid var(--border-light);

    border-right: 2px solid black;
    border-bottom: 2px solid black;

    transition: 0.08s linear;

    margin-bottom: 10px;
    
}

.button:hover {
    background: var(--accent);
    color: black;
}

.button:active {
    transform: translateY(2px);
}

.delete-btn{
    text-decoration: none;
    padding: 4px 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.edit-btn {
    text-decoration: none;
    padding: 4px 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.delete-btn:hover, .edit-btn:hover {
    padding: 2px 10px;
}
.delete-btn img, .edit-btn img{
    height: 24px;
    width: auto;
}

.delete-btn:hover img, .edit-btn:hover img {
    height: 26px;
    width: auto;
}