{% extends "base.html" %}

{% block panel_header %}ANIMAL{% endblock %}

{% block hero %}


<!-- Animal page -->

<!-- Lets the user view one animals data. Provides more insight than the full animal display. -->

<table class="hero-animal_table">
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Breed</th>
        <th>Rescue Date</th>
        <th>Foster Carer</th>
        <th>Adoption Status</th>
        <th>Adopter</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>{{ animal.animalName }}</td>
        <td>{{ animal.animalSpecies }}</td>
        <td>{{ animal.animalBreed }}</td>
        <td>{{ animal.animalRescueDate }}</td>
        <td>{{ animal.fosterCarerFirstName + " " +animal.fosterCarerLastName }}</td>
        <td>{{ animal.adoptionStatus }}</td>
        <td>{{ adopter_name.adoptionInfoAdopterName }}</td>
        <td><form action="{{ url_for('delete_animal', id=animal.idanimal) }}" method="POST" class="confirm-delete-form" style="display:inline;">
        <button type="submit" class="delete-btn">
            <img src="{{ url_for('static', filename='images/delete_icon.png') }}"
                alt="Delete"
                class="delete-icon"></button></form>

        <form action="{{ url_for('edit_animal', id=animal.idanimal) }}" method="GET" style="display:inline;">
        <button type="submit" class="edit-btn">
            <img src="{{ url_for('static', filename='images/edit_icon.png') }}"
                alt="Edit"
                class="edit-icon">
        </button></form>
        <form action="{{ url_for('add_animal_treatment', id=animal.idanimal) }}" method="GET" style="display:inline;">
            <button type="submit" class="edit-btn">
                <img src="{{ url_for('static', filename='images/health.png') }}"
                    alt="Edit"
                    class="edit-icon">
            </button>
        </form></td>
    </tr>
</table>

<table class="hero-animal_table">
    <tr>
        <th>TREATMENT</th>
        <th>VET</th>
        <th>ACTIONS</th>
    </tr>

    {% for treatment in treatments %}
    <tr>
        <td>{{ treatment.treatment }}</td>
        <td>{{ treatment.vetName }}</td>
        <td>
            <form action="{{ url_for('delete_animal_treatment', id=treatment.idtreatments, post_id=animal.idanimal) }}" method="POST" class="confirm-delete-form" style="display:inline;">
        <button type="submit" class="delete-btn">
            <img src="{{ url_for('static', filename='images/delete_icon.png') }}"
                alt="Delete"
                class="delete-icon"></button></form>
        </td>
        </tr>
    {%  endfor %}
</table>

<script>
document.querySelectorAll('.confirm-delete-form').forEach(function(form) {
    form.addEventListener('submit', function(event) {
        const userConfirmed = confirm("Are you sure you want to delete this record?");
        
        if (!userConfirmed) {
            event.preventDefault(); 
        }
    });
});
</script>

{% endblock %}
