{% extends "base.html" %}

{% block panel_header %}VOLUNTEERS{% endblock %}

{% block hero %}

<table class="hero-animal_table">
    <tr>
        <th>Fist Name</th>
        <th>Last Name</th>
        <th>PHONE NUMBER</th>
    </tr>

    {% for foster_carer in foster_carers %}
    <tr>
        <td>{{ foster_carer.fosterCarerFirstName }}</td>
        <td>{{ foster_carer.fosterCarerLastName }}</td>
        <td>{{ foster_carer.fosterCarerPhone }}</td>
    </tr>
    {% endfor %}
</table>
<div class="form-row">
    <a href="/add_foster_carer">ADD NEW FOSTER CARER</a>
</div>
{% endblock %}