{% extends "base.html" %}

{% block panel_header %}VOLUNTEERS{% endblock %}

{% block hero %}

<!-- Volunteers page -->

<!-- Creates a table that displays all the volunteer data. -->
<table class="hero-animal_table">
    <tr>
        <th>Fist Name</th>
        <th>Last Name</th>
        <th>Shift Day</th>
    </tr>

    {% for volunteer in volunteers %}
    <tr>
        <td>{{ volunteer.volunteerFirstName }}</td>
        <td>{{ volunteer.volunteerLastName }}</td>
        <td>{{ volunteer.volunteerShiftDay }}</td>
    </tr>
    {% endfor %}
</table>
<div class="form-row">
<a href="/add_volunteer"> ADD VOLUNTEER</a>
</div>
{% endblock %}